<% layout('adminlayout') %>
<div class="row">
  <div class="medium-5 columns medium-offset-1" style="margin-top:2%">
    <% include ../partials/flash %>
  </div>
</div>
<div class="row collapse">
  <div class="medium-12 columns">
    <div class="callout">
      <div><h3>Users of Agrimon</h3></div>
      <div class="callout secondary">
        <table style="width: 100%">
            <thead>
              <tr>
                <th>Count</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user, index){ %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= user.local.firstname %></td>
                <td><%= user.local.lastname %></td>
                <td><%= user.local.username %></td>
                <td><%= user.local.email %></td>
                <td>
                  <ul class="menu">
                    <li><a href="/delete/<%=user.local.username%>" title="Delete"><i class="fa fa-trash " aria-hidden="true"></i> Remove</a></li>
                  </ul>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
