<% layout('dashboardlayout') %>
<div class="row collapse" style="margin-left : 1%;">
  <div class="medium-12 columns">
    <p>information about animal health records</p>
  </div>
</div>
<div class="row collapse" style="margin-left : 1%;">
  <div class="medium-12 columns">
    <div class="callout success">
        <div><h3 align="center">Animal health records and their dates</h3></div>
        <div class=" callout secondary">
          <table>
            <thead>
              <tr>
                <th>Count</th>
                <th>Animal</th>
                <th>Tag Number</th>
                <th>Disease</th>
                <th>Date treated</th>
                <th>Next dose</th>
                <th>Total Cost</th>
              </tr>
            </thead>
            <tbody style="width : 100%">
                <% records.forEach(function(health, index){ %>
                  <% dgdate = new Date(health.diagnosedate) %>
                  <% nxtdose = new Date(health.nextdose) %>
                  <% animal = health.animal %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= animal[0].species %></td>
                  <td><%= health.animal[0].tagnum %></td>
                  <td><%= health.disease %></td>
                  <td><%= dgdate.toDateString()%></td>
                  <td><%= nxtdose.toDateString() %></td>
                  <td><%= health.totalcost %></td>
              </tr>
                <%});%>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
