<% layout('dashboardlayout') %>
<div class="row collapse">
  <div class="medium-5 columns medium-offset-1" style="margin-top:2%; margin-bottom: 2">
    <% include ../partials/flash %>
  </div>
  <div class="medium-2 columns " style="margin-top:2%">
    <a class="large button" href="#/animalbreeds">Farm Breeds</a>
  </div>
  <div class="medium-2 columns " style="margin-top:2%">
    <a class="large button" href="/animalhealth">Anml Health</a>
  </div>
  <div class="medium-2 columns" style="margin-top:2%;">
    <a class="large button" href="/records">New Animal</a>
  </div>
</div>
<div class="row collapse" style="margin-left : 1%;">
  <div class="medium-12 columns ">
    <div class="callout success">
      <div><h3 align="center">
		All Animals in <span style="color:blue;"><%= user.username %>'s</span>
			Farm as recorded</h3></div>
      <div class="callout secondary">
        <table style="width: 100%">
            <thead>
              <tr>
                <th>Count</th>
                <th>Animal Species</th>
                <th>Tag Number</th>
                <th>Gender</th>
                <th>Date Bought</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% animals.forEach(function(animal, index){ %>
                <% date =new Date( animal.date) %>
                <% tag = animal.tagnum %>
                <% species = animal.species %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= animal.species %></td>
                <td><%= animal.tagnum %></td>
                <td><%= animal.gender %></td>
                <td><%= date.toLocaleString() %> (EAT)</td>
                <td>
                  <ul class="menu">
                    <li>
						<a href="/editanimal/<%= tag%>"> Edit<i class="fa fa-pencil-square-o "
						 aria-hidden="true"></i> </a>
					</li>
                    <li>
						<a data-open="<%=tag %>" href="#"
						title="Delete">Delete<i class="fa fa-trash " aria-hidden="true"></i>
						</a>

						<form method="post" action="/deleteanimal" class="reveal" id="<%=tag %>" data-reveal>
					      <input name="tagnum" type="hidden" value="<%=tag %>">
						  <p class="lead">
							You are about to delete this <span style="color:blue;"><%=species %></span> 
							 with tagnum <span style="color:blue;"><%=tag %>?</span> This operation will also
							 delete all Health records associated with this <%=species %>
						  </p>
						  <div class="row">
							<div class="medium-2 columns medium-offset-4">
							<button class="button" data-close aria-label="Close modal" type="button">
								Cancel
						    </button>

							</div>
							<div class="medium-2 columns end">
								<button type="submit" class="button alert">
									<strong>Delete</strong>
								</button>
							</div>
					      </div>
						  <button class="close-button" data-close aria-label="Close modal" type="button">
							<span aria-hidden="true">&times;</span>
						  </button>
						</form>
					</li>
				  </ul>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
